# ----------------------
# Credentials
# ----------------------
*.json

# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
.env
venv/

# ----------------------
# dbt
# ----------------------
target/
dbt_packages/
logs/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db